<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <title></title>

  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.css'>
  <link href="css/styles.css" rel="stylesheet" type="text/css">



</head>

<body>

  <header>
    <div class="container">
      <div class="header-content">
        <a href="#" class="logo"><img src="images/logo.svg" alt=""></a>

        <nav class="main-menu">
          <ul>
            <li><a href="">Новости</a></li>
            <li><a href="">Все курсы</a></li>
            <li><a href="">База знаний</a></li>
            <li><a href="">Расписание</a></li>
            <li><a href="">Личный кабинет</a></li>
          </ul>
        </nav>

        <div class="header-content__right">
          <div class="header-user">
            <a href="#">
              <span class="icon icon-profile"></span>
              Иванов М.В.
            </a>
          </div>

          <a class="burger"><span></span></a>
        </div>

      </div>
    </div>
  </header>

  <main>
    <div class="container">
      <h2 class="h2">Календарь курсов и тренингов</h2>

      <div class="content-block  content-block--margin">
        <div class="calendar">
          <div class="calendar__top">
            <a class="calendar__prev">
              <span class="icon-arrow-link"></span>
            </a>
            <span class="calendar__title">Апрель</span>
            <a class="calendar__next">
              <span class="icon-arrow-link"></span>
            </a>
          </div>
          <div class="calendar__head">
            <div class="calendar__week-title">№</div>
            <div class="calendar__day-title">Понедельник</div>
            <div class="calendar__day-title">Вторник</div>
            <div class="calendar__day-title">Среда</div>
            <div class="calendar__day-title">Четверг</div>
            <div class="calendar__day-title">Пятница</div>
            <div class="calendar__day-title">Суббота</div>
            <div class="calendar__day-title">Воскресенье</div>
          </div>
          <div class="calendar__line">
            <div class="calendar__week-number">14</div>
            <div class="calendar__day-item disabled">
              <span class="calendar__day-number ">31</span>

            </div>
            <a href="" class="calendar__day-item active">
              <span class="calendar__day-number">1</span>
              <span class="calendar__event">
                <span class="calendar__text">«Быстрый рост прибыли компании в сжатые сроки» </span>
                <span class="calendar__date">1.04</span>
              </span>
              <span class="calendar__event">
                <span class="calendar__text">«Быстрый рост прибыли компании в сжатые сроки» </span>
                <span class="calendar__date">1.04</span>
              </span>
            </a>
            <div class="calendar__day-item">
              <span class="calendar__day-number">2</span>

            </div>
            <div class="calendar__day-item">
              <span class="calendar__day-number">3</span>

            </div>
            <div class="calendar__day-item">
              <span class="calendar__day-number">4</span>

            </div>
            <div class="calendar__day-item">
              <span class="calendar__day-number">5</span>

            </div>
            <div class="calendar__day-item">
              <span class="calendar__day-number">6</span>

            </div>
          </div>


          <div class="calendar__line">
            <div class="calendar__week-number">15</div>
            <div class="calendar__day-item ">
              <span class="calendar__day-number ">7</span>

            </div>
            <a href="" class="calendar__day-item">
              <span class="calendar__day-number">8</span>

            </a>
            <div class="calendar__day-item">
              <span class="calendar__day-number">9</span>

            </div>
            <div class="calendar__day-item">
              <span class="calendar__day-number">10</span>

            </div>
            <a href="" class="calendar__day-item active">
              <span class="calendar__day-number">11</span>
              <span class="calendar__event">
            
                <span class="calendar__text">«Быстрый рост прибыли компании в сжатые сроки» </span>
                <span class="calendar__date">11.04</span>
              </span>

            </a>
            <div class="calendar__day-item">
              <span class="calendar__day-number">12</span>

            </div>
            <div class="calendar__day-item">
              <span class="calendar__day-number">13</span>

            </div>
          </div>
          <div class="calendar__line">
            <div class="calendar__week-number">16</div>
            <div class="calendar__day-item ">
              <span class="calendar__day-number ">14</span>

            </div>
            <a href="" class="calendar__day-item">
              <span class="calendar__day-number">15</span>

            </a>
            <div class="calendar__day-item">
              <span class="calendar__day-number">16</span>

            </div>
            <div class="calendar__day-item">
              <span class="calendar__day-number">17</span>

            </div>
            <div class="calendar__day-item">
              <span class="calendar__day-number">18</span>

            </div>
            <div class="calendar__day-item">
              <span class="calendar__day-number">19</span>

            </div>
            <div class="calendar__day-item">
              <span class="calendar__day-number">20</span>

            </div>
          </div>
          <div class="calendar__line">
            <div class="calendar__week-number">17</div>
            <div class="calendar__day-item ">
              <span class="calendar__day-number ">21</span>

            </div>
            <div class="calendar__day-item">
              <span class="calendar__day-number">22</span>

            </div>
            <div class="calendar__day-item">
              <span class="calendar__day-number">23</span>

            </div>
            <div class="calendar__day-item">
              <span class="calendar__day-number">24</span>

            </div>
            <div class="calendar__day-item">
              <span class="calendar__day-number">25</span>

            </div>
            <a href="" class="calendar__day-item active">
              <span class="calendar__day-number">26</span>
              <span class="calendar__event">
          
                <span class="calendar__text">«Быстрый рост прибыли компании в сжатые сроки» </span>
                <span class="calendar__date">11.04</span>
              </span>

            </a>
            <div class="calendar__day-item">
              <span class="calendar__day-number">27</span>

            </div>
          </div>
          <div class="calendar__line">
            <div class="calendar__week-number">18</div>
            <div class="calendar__day-item ">
              <span class="calendar__day-number ">28</span>

            </div>
            <a href="" class="calendar__day-item active">
              <span class="calendar__day-number">29</span>
              <span class="calendar__event">
            
                <span class="calendar__text">«Быстрый рост прибыли компании в сжатые сроки» </span>
                <span class="calendar__date">11.04</span>
              </span>

            </a>
            <div class="calendar__day-item">
              <span class="calendar__day-number">30</span>

            </div>
            <div class="calendar__day-item  disabled">
              <span class="calendar__day-number">1</span>

            </div>
            <div class="calendar__day-item  disabled">
              <span class="calendar__day-number">2</span>

            </div>
            <div class="calendar__day-item  disabled">
              <span class="calendar__day-number">3</span>

            </div>
            <div class="calendar__day-item  disabled">
              <span class="calendar__day-number">4</span>

            </div>
          </div>
        </div>
      </div>
      <h2 class="h2">Расписание</h2>

      <div class="content-block">

        <div class="timetable-head">
          <div class="select-block select-block--long">
            <label for="">Для кого обучение:</label>
            <div class="select">
              <select class="select2">
                <option>Для руководителей салонов</option>
                <option>очень длинный длинный текст</option>
                <option>Option 3</option>
                <option>Option 4</option>
              </select>
            </div>
          </div>
          <div class="select-block select-block--long">
            <label for="">Выберите месяц:</label>
            <div class="select">
              <select class="select2">
                <option>Апрель 2022</option>
                <option>очень длинный длинный текст</option>
                <option>Option 3</option>
                <option>Option 4</option>
              </select>
            </div>
          </div>
        </div>

        <div class="timetable-content">
          <div class="timetable-item">
            <a href="">
              <span class="timetable-item__image">
                <img src="images/img-4.jpg" alt="">
                <span class="timetable-item__category"> <span class="icon icon-check"></span>Обязательный курс</span>
              </span>
              <span class="timetable-item__content">
                <span class="timetable-item__top">
                  <span class="timetable-item__date"><span class="icon icon-calendar"></span>28 июня - 12 июля
                    2022</span>
                  <span class="timetable-item__status">Online</span>
                </span>
                <span class="timetable-item__title">Курс Артема Соловьева «Как удержать стабильность компании в периоды
                  различных кризисов в стране»

                </span>
                <span class="timetable-item__text">В процессе прохождения курса вы повысите свой уровень знаний для
                  максимально быстрой продажи лидирующей позиции, и еще сделаете дополнительные продажи.</span>
                <span class="timetable-item__bottom">
                  <span class="timetable-item__cost">
                    <span class="icon icon-purse"></span>
                    Свободный доступ
                  </span>
                  <span class="timetable-item__numbers">Свободно - 10 / <span>30</span></span>
                </span>
                <div class="timetable-item__discription">Для сотрудника отдела продаж / руководителя салона / мастера
                  приемки </div>
              </span>
            </a>
            <a href="" class="btn">Записаться</a>
          </div>
          <div class="timetable-item">
            <a href="">
              <span class="timetable-item__image">
                <img src="images/img-4.jpg" alt="">
                <span class="timetable-item__category passed"><span class="icon icon-check"></span>Курс пройден!</span>
              </span>
              <span class="timetable-item__content">
                <span class="timetable-item__top">
                  <span class="timetable-item__date"><span class="icon icon-calendar"></span>28 июня - 12 июля
                    2022</span>
                  <span class="timetable-item__status offline">Offline</span>
                </span>
                <span class="timetable-item__title">Курс Артема Соловьева «Как удержать стабильность компании в периоды
                  различных кризисов в стране»

                </span>
                <span class="timetable-item__text">В процессе прохождения курса вы повысите свой уровень знаний для
                  максимально быстрой продажи лидирующей позиции, и еще сделаете дополнительные продажи.</span>
                <span class="timetable-item__bottom">
                  <span class="timetable-item__cost">
                    <span class="icon icon-purse"></span>
                    8 600 руб.
                  </span>
                  <span class="timetable-item__numbers">Свободно - 10 / <span>30</span></span>
                </span>
                <div class="timetable-item__discription">Для сотрудника отдела продаж / руководителя салона / мастера
                  приемки </div>
              </span>
            </a>
            <a href="" class="btn">Записаться</a>
          </div>

        </div>
   <div class="btn-center margin">
            <a href="#" class="btn ">Смотреть еще</a>
          </div>
      </div>

    </div>
  </main>


  <footer>
    <div class="container">
      <div class="footer-content">
        <span class="footer-logo">
          <a href="#" class="logo"><img src="images/logo.svg" alt=""></a>
        </span>

        <ul class="footer-menu">
          <li><a href="">Правовая информация</a></li>
          <li><a href="">Политика персональных данных</a></li>
        </ul>
        <div class="footer-contacts">
          <span class="footer-phone"><a href="tel:">+7 (495) 290-77-75</a></span>
          <span class="footer-mail"><a href="mailto:">info@geely.com</a></span>
        </div>
      </div>
    </div>
    <div class="copy">Geely © 2022 Все права защищены. Полное или частичное копирование запрещено.</div>
  </footer>




  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="js/owl.carousel.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js'></script>
  <script src="js/scripts.js"></script>





</body>

</html>