<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <title></title>


  <link href="css/styles.css" rel="stylesheet" type="text/css">



</head>

<body>

  <header>
    <div class="container">
      <div class="header-content">
        <a href="#" class="logo"><img src="images/logo.svg" alt=""></a>

        <nav class="main-menu">
          <ul>
            <li><a href="">Новости</a></li>
            <li class="active"><a href="">Все курсы</a></li>
            <li><a href="">База знаний</a></li>
            <li><a href="">Расписание</a></li>
            <li><a href="">Личный кабинет</a></li>
          </ul>
        </nav>

        <div class="header-content__right">
          <div class="header-user">
            <a href="#">
              <span class="icon icon-profile"></span>
              Иванов М.В.
            </a>
          </div>

          <a class="burger"><span></span></a>
        </div>

      </div>
    </div>
  </header>

  <main>
    <div class="container">



      <div class="content-section">
        <h1 class="h1"> семинар управляющего компанией Александра Максимова «Эффективность работы руководителя в новой
          команде»</h1>


        <div class="content-block">

          <div class="course-main-block">
            <div class="course-main">
              <div class="course-main__image"><img src="images/img-1.jpg" alt=""></div>
              <div class="course-main__content">
                <div class="course-main__information">
                  <div class="course-main__info-item">
                    <span class="course-main__info-item-title">Дата:</span>
                    <span class="course-main__info-item-date">19 июня </span>
                  </div>
                  <div class="course-main__info-item">
                    <span class="course-main__info-item-title">Начало:</span>
                    <span class="course-main__info-item-time-start">14:30</span>
                  </div>
                  <div class="course-main__info-item">
                    <span class="course-main__info-item-title">Продолжительность:</span>
                    <span class="course-main__info-item-duration">2 часа</span>
                  </div>
                  <div class="course-main__info-item">
                    <span class="course-main__info-item-title">Формат:</span>
                    <span class="course-main__info-item-format offline">Offline</span>
                  </div>
                  <div class="course-main__info-item">
                    <span class="course-main__info-item-title">Для кого:</span>
                    <p>Для сотрудника отдела продаж / руководителя салона / мастера приемки </p>
                  </div>
                </div>
                <div class="course-main__contacts">
                  <div class="course-main__adress">
                    <div class="course-main__city">
                      <span class="icon"><img src="images/location-empty.svg" alt=""></span>
                      Москва

                    </div>
                    ул. Бутырский Вал, д. 68/70, стр. 1, <br>
                    Бизнес Центр «Baker Plaza»
                  </div>
                  <div class="course-main__map">
                    <iframe
                      src="https://yandex.ru/map-widget/v1/?um=constructor%3Af6b155c37528d3d03b8a07522c664e66f998969f58fad722f1ecd0e7eb1915d1&amp;source=constructor"
                      frameborder="0"></iframe>
                  </div>
                </div>
              </div>
            </div>

            <div class="course-main-info course-main-info--third">
              <div class="course-main-info-item">
                <span class="course-main-info-item__icon"><img src="images/list-icon.svg" alt=""></span>
                <span class="course-main-info-item__title">Регистрация на тренинг<br> доступна:</span>
                <span class="course-main-info-item__numbers">
                  1.06 - 18.06</span>
              </div>
              <div class="course-main-info-item">
                <span class="course-main-info-item__icon"><img src="images/purse2.svg" alt=""></span>
                <span class="course-main-info-item__title">Стоимость участия <br>
                  в тренинге:</span>
                <span class="course-main-info-item__numbers">15 200 <small>руб.</small> </span>
              </div>
              <div class="course-main-info-item">
                <span class="course-main-info-item__icon"><img src="images/user3.svg" alt=""></span>
                <span class="course-main-info-item__title">Осталось Свободных <br>
                  мест:</span>
                <span class="course-main-info-item__numbers">
                  7 <span>/ 30</span>
                </span>
              </div>

              <a href="#" class="btn btn--reverse">Зарегистрироваться</a>
            </div>

          </div>
          <div class="text-content text-content--border">
            <h4 class="h4">Что вас ждет на данном тренинге?</h4>

            <p>Во-первых, чтобы понимать, кто ваш клиент, какие у него потребности, и на основании этого правильно
              позиционировать компанию.
              Во-вторых, чтобы выстраивать уникальные механики взаимодействия с каждым из клиентов, повышать конверсию
              из предложения
              в покупку и общую лояльность клиентов. Если вы предлагаете клиенту то, что ему потенциально интересно, то
              его лояльность бренду
              и компании увеличивается вне зависимости от того, совершил он покупку по этому предложению или нет. По
              данным Website builder, 44% людей, получавших таргетированные письма, совершили как минимум одну покупку
              по содержащимся в них предложениям. При проведении исследования 52% опрошенных маркетологов сказали о
              необходимости сегментации базы данных в email-рассылках, так как индивидуальные предложения приносят в 18
              раз больше доходов, чем широковещательные.</p>
            <p>В большинстве случаев сегментации подвергается текущая клиентская база. Но при создании нового бизнеса
              или отсутствии сбора данных сегментацию можно провести по результатам опросов существующих или
              потенциальных клиентов. Многие воспринимают данные опросов только как качественный метод исследования,
              уступающий анализу покупательского поведения. На самом деле оба вида анализа (на основании опросов и
              истории покупок) должны использоваться в вашем бизнесе в равной мере, так как они преследуют различные
              цели.</p>
            <p><strong>Анализ результатов опросов используется для приоритизации задач бизнеса, создания вектора
                коммуникации с потребителями либо корректировки коммуникационной стратегии. Анализ истории покупок — для
                создания рекламных кампаний, построения механик программы лояльности и геймификации, изменения
                фокусировок маркетинга.</strong></p>
            <p>В большинстве случаев сегментации подвергается текущая клиентская база. Но при создании нового бизнеса
              или отсутствии сбора данных сегментацию можно провести по результатам опросов существующих или
              потенциальных клиентов. Многие воспринимают данные опросов только как качественный метод исследования,
              уступающий анализу покупательского поведения. На самом деле оба вида анализа (на основании опросов и
              истории покупок) должны использоваться в вашем бизнесе в равной мере, так как они преследуют различные
              цели. Анализ результатов опросов используется для приоритизации задач бизнеса, создания вектора
              коммуникации с потребителями либо корректировки коммуникационной стратегии. Анализ истории покупок — для
              создания рекламных кампаний, построения механик программы лояльности и геймификации, изменения фокусировок
              маркетинга.</p>
            <p>Многие воспринимают данные опросов только как качественный метод исследования, уступающий анализу
              покупательского поведения. На самом деле оба вида анализа (на основании опросов и истории покупок) должны
              использоваться в вашем бизнесе в равной мере, так как они преследуют различные цели. </p>
            <p>Анализ результатов опросов используется для приоритизации задач бизнеса, создания вектора коммуникации с
              потребителями либо корректировки коммуникационной стратегии. Анализ истории покупок — для создания
              рекламных кампаний, построения механик программы лояльности и геймификации, изменения фокусировок
              маркетинга.</p>

            <div class="content-slider owl-carousel">
              <div class="item"><img src="images/big-img-2.jpg" alt=""></div>
              <div class="item"><img src="images/big-img-2.jpg" alt=""></div>
              <div class="item"><img src="images/big-img-1.jpg" alt=""></div>
              <div class="item"><img src="images/big-img-2.jpg" alt=""></div>
              <div class="item"><img src="images/big-img-2.jpg" alt=""></div>
            </div>


            <p>Если вы предлагаете клиенту то, что ему потенциально интересно, то его лояльность бренду и компании
              увеличивается вне зависимости от того, совершил он покупку по этому предложению или нет. По данным Website
              builder, 44% людей, получавших таргетированные письма, совершили как минимум одну покупку по содержащимся
              в них предложениям. При проведении исследования 52% опрошенных маркетологов сказали о необходимости
              сегментации базы данных в email-рассылках, так как индивидуальные предложения приносят в 18 раз больше
              доходов, чем широковещательные.</p>
            <p>В большинстве случаев сегментации подвергается текущая клиентская база. Но при создании нового бизнеса
              или отсутствии сбора данных сегментацию можно провести по результатам опросов существующих или
              потенциальных клиентов. Многие воспринимают данные опросов только как качественный метод исследования,
              уступающий анализу покупательского поведения. На самом деле оба вида анализа (на основании опросов и
              истории покупок) должны использоваться в вашем бизнесе в равной мере, так как они преследуют различные
              цели. Анализ результатов опросов используется для приоритизации задач бизнеса, создания вектора
              коммуникации с потребителями либо корректировки коммуникационной стратегии. Анализ истории покупок — для
              создания рекламных кампаний, построения механик программы лояльности и геймификации, изменения фокусировок
              маркетинга. Многие воспринимают данные опросов только как качественный метод исследования, уступающий
              анализу покупательского поведения. На самом деле оба вида анализа (на основании опросов и истории покупок)
              должны использоваться в вашем бизнесе в равной мере, так как они преследуют различные цели. Анализ
              результатов опросов используется для приоритизации задач бизнеса, создания вектора коммуникации с
              потребителями либо корректировки коммуникационной стратегии. Анализ истории покупок — для создания
              рекламных кампаний, построения механик программы лояльности и геймификации, изменения фокусировок
              маркетинга.</p>
            <p>Многие воспринимают данные опросов только как качественный метод исследования, уступающий анализу
              покупательского поведения. На самом деле оба вида анализа (на основании опросов и истории покупок) должны
              использоваться в вашем бизнесе в равной мере, так как они преследуют различные цели. Анализ результатов
              опросов используется для приоритизации задач бизнеса, создания вектора коммуникации с потребителями либо
              корректировки коммуникационной стратегии. Анализ истории покупок — для создания рекламных кампаний,
              построения механик программы лояльности и геймификации, изменения фокусировок маркетинга.</p>
              <div class="timetable-event">
                <h2 class="h2">расписание</h2>
    
                <div class="timetable-event__content">
    
                  <div class="timetable-event-item">
                    <div class="timetable-event-item__time">12:00 - 13:00  </div>
                    <div class="timetable-event-item__content">
                      <span class="timetable-event-item__title">Селивестров Максимилиан Антонович 
                      </span>
                      <p>«Стратегии работы с продуктом - создать продукт-бестселлер»</p>
                    </div>
                  </div>
    
                  
                  <div class="timetable-event-item">
                    <div class="timetable-event-item__time">13:00 - 14:00  </div>
                    <div class="timetable-event-item__content">
                      <span class="timetable-event-item__title">Колосов Евгений Александрович
                      </span>
                      <p>«Успешный специалист продаж - убедительные коммуникации: говорить так, чтобы у вас купили»</p>
                    </div>
                  </div>
    
                  
                  <div class="timetable-event-item">
                    <div class="timetable-event-item__time">14:00 - 14:45  </div>
                    <div class="timetable-event-item__content">
                      <span class="timetable-event-item__title">Перерыв
                      </span>
                    </div>
                  </div>
    
                  
                  <div class="timetable-event-item">
                    <div class="timetable-event-item__time">14:45 - 15:45  </div>
                    <div class="timetable-event-item__content">
                      <span class="timetable-event-item__title">Селивестров Максимилиан Антонович 
                      </span>
                      <p>Бизнес-meetup «Маркетплейсы: 3 шага в топ продаж»</p>
                    </div>
                  </div>
    
                  
                  <div class="timetable-event-item">
                    <div class="timetable-event-item__time">15:45 - 17:00  </div>
                    <div class="timetable-event-item__content">
                      <span class="timetable-event-item__title">Колосов Евгений Александрович
                      </span>
                      <p>«Успешный специалист продаж - убедительные коммуникации: говорить так, чтобы у вас купили»</p>
                    </div>
                  </div>
    
                </div>
              </div>
          </div>

    

          <h2 class="h2">ведущий мероприятия</h2>
          <div class="trainers trainers--border-none">

            <div class="trainer-item">
              <div class="trainer-item__avatar"><img src="images/avatar-2.jpg" alt=""></div>
              <div class="trainer-item__content">
                <span class="trainer-item__name">Селивестров Максимилиан Антонович</span>
                <p>Владелец компании «GrandoMarketing». Тренер по маркетингу и рекламе, PR, брендингу, исследованиям,
                  проджект-менеджменту. Большой практический опыт. </p>
              </div>
            </div>


            <h2 class="h2">спикеры</h2>

            <div class="trainer-item">
              <div class="trainer-item__avatar"><img src="images/avatar-2.jpg" alt=""></div>
              <div class="trainer-item__content">
                <span class="trainer-item__name">Селивестров Максимилиан Антонович</span>
                <p>Владелец компании «GrandoMarketing». Тренер по маркетингу и рекламе, PR, брендингу, исследованиям,
                  проджект-менеджменту. Большой практический опыт. </p>
              </div>
            </div>
            <div class="trainer-item">
              <div class="trainer-item__avatar"><img src="images/avatar-2.jpg" alt=""></div>
              <div class="trainer-item__content">
                <span class="trainer-item__name">Селивестров Максимилиан Антонович</span>
                <p>Владелец компании «GrandoMarketing». Тренер по маркетингу и рекламе, PR, брендингу, исследованиям,
                  проджект-менеджменту. Большой практический опыт. </p>
              </div>
            </div>
            <div class="trainer-item">
              <div class="trainer-item__avatar"><img src="images/avatar-2.jpg" alt=""></div>
              <div class="trainer-item__content">
                <span class="trainer-item__name">Селивестров Максимилиан Антонович</span>
                <p>Владелец компании «GrandoMarketing». Тренер по маркетингу и рекламе, PR, брендингу, исследованиям,
                  проджект-менеджменту. Большой практический опыт. </p>
              </div>
            </div>

            <div class="trainer-item">
              <div class="trainer-item__avatar"><img src="images/avatar-1.jpg" alt=""></div>
              <div class="trainer-item__content">
                <span class="trainer-item__name">Колосов Евгений Александрович</span>
                <p>Владелец компании «GrandoMarketing». Тренер по маркетингу и рекламе, PR, брендингу, исследованиям,
                  проджект-менеджменту. Большой практический опыт. </p>
              </div>
            </div>
          </div>


        </div>


      </div>



      <div class="content-section">
        <h2 class="h2">материалы для предварительного ознакомления</h2>


        <div class="content-block">

          <div class="materials">
            <a href="" class="material-download-item">
              <span class="material-download-item__title"> Небольшой мини-курс «Эффективная реклама» по предварительной
                подготовке к курсу </span>
              <span class="material-download-item__icon">
                <span class="icon"> <img src="images/exel-icon.svg" alt=""></span>
                (15 Мб)
              </span>
            </a>
            <a href="" class="material-download-item">
              <span class="material-download-item__title"> Что необходимо знать по маркетингу и рекламе
                в современное время </span>
              <span class="material-download-item__icon">
                <span class="icon"> <img src="images/word-icon.svg" alt=""></span>
                (15 Мб)
              </span>
            </a>
            <a href="" class="material-download-item">
              <span class="material-download-item__title"> Как достигнуть качественного
                и быстрого роста прибыли в компании
                подготовке к курсу </span>
              <span class="material-download-item__icon">
                <span class="icon"> <img src="images/pdf-color-icon.svg" alt=""></span>
                (15 Мб)
              </span>
            </a>
            <a href="" class="material-download-item">
              <span class="material-download-item__title"> Полный чек-лист черт характера специалиста по продажам
                подготовке к курсу </span>
              <span class="material-download-item__icon">
                <span class="icon"> <img src="images/img-icon.svg" alt=""></span>
                (15 Мб)
              </span>
            </a>
            <a href="" class="material-download-item">
              <span class="material-download-item__title"> Небольшой мини-курс «Эффективная реклама» по предварительной
                подготовке к курсу </span>
              <span class="material-download-item__icon">
                <span class="icon"> <img src="images/exel-icon.svg" alt=""></span>
                (15 Мб)
              </span>
            </a>
            <a href="" class="material-download-item">
              <span class="material-download-item__title"> Что необходимо знать по маркетингу и рекламе
                в современное время
                подготовке к курсу </span>
              <span class="material-download-item__icon">
                <span class="icon"> <img src="images/link-icon.svg" alt=""></span>
                <span>texterra.ru</span>
              </span>
            </a>
            <a href="" class="material-download-item">
              <span class="material-download-item__title"> Как достигнуть качественного
                и быстрого роста прибыли в компании
                подготовке к курсу </span>
              <span class="material-download-item__icon">
                <span class="icon"> <img src="images/pdf-color-icon.svg" alt=""></span>
                (15 Мб)
              </span>
            </a>
            <a href="" class="material-download-item">
              <span class="material-download-item__title"> Полный чек-лист черт характера специалиста по продажам
                подготовке к курсу </span>
              <span class="material-download-item__icon">
                <span class="icon"> <img src="images/zip-icon.svg" alt=""></span>
                (15 Мб)
              </span>
            </a>
          </div>


        </div>


      </div>


    </div>
  </main>


  <footer>
    <div class="container">
      <div class="footer-content">
        <span class="footer-logo">
          <a href="#" class="logo"><img src="images/logo.svg" alt=""></a>
        </span>

        <ul class="footer-menu">
          <li><a href="">Правовая информация</a></li>
          <li><a href="">Политика персональных данных</a></li>
        </ul>
        <div class="footer-contacts">
          <span class="footer-phone"><a href="tel:">+7 (495) 290-77-75</a></span>
          <span class="footer-mail"><a href="mailto:">info@geely.com</a></span>
        </div>
      </div>
    </div>
    <div class="copy">Geely © 2022 Все права защищены. Полное или частичное копирование запрещено.</div>
  </footer>




  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="js/owl.carousel.js"></script>
  <script src="js/scripts.js"></script>


  <script>



  </script>


</body>

</html>