<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <title></title>


  <link href="css/styles.css" rel="stylesheet" type="text/css">



</head>

<body>

  <header>
    <div class="container">
      <div class="header-content">
        <a href="#" class="logo"><img src="images/logo.svg" alt=""></a>

        <nav class="main-menu">
          <ul>
            <li><a href="">Новости</a></li>
            <li class="active"><a href="">Все курсы</a></li>
            <li><a href="">База знаний</a></li>
            <li><a href="">Расписание</a></li>
            <li><a href="">Личный кабинет</a></li>
          </ul>
        </nav>

        <div class="header-content__right">
          <div class="header-user">
            <a href="#">
              <span class="icon icon-profile"></span>
              Иванов М.В.
            </a>
          </div>

          <a class="burger"><span></span></a>
        </div>

      </div>
    </div>
  </header>

  <main>
    <div class="container">

      <div class="breadcrumbs">
        <a href="">Главная</a>
        <span class="sep"></span>
        <a href="">Курсы </a>
        <span class="sep"></span>
        Качественная мультимедийная реклама - результат быстрого отклика покупателей
      </div>

      <div class="content-section">
        <h1 class="h1">Качественная мультимедийная реклама - результат быстрого отклика покупателей</h1>


        <div class="content-block">

<div class="course-main-block">
  <div class="course-main">
    <div class="course-main__image"><img src="images/img-1.jpg" alt=""></div>
    <div class="course-main__content">
      <div class="course-main__information">
        <div class="course-main__info-item">
          <span class="course-main__info-item-title">Дата:</span>
          <span class="course-main__info-item-date">19 июня в 12:00</span>
        </div>
        <div class="course-main__info-item">
          <span class="course-main__info-item-title">Начало тренинга:</span>
          <span class="course-main__info-item-time-start">19 июня в 12:00</span>
        </div>
        <div class="course-main__info-item">
          <span class="course-main__info-item-title">Продолжительность:</span>
          <span class="course-main__info-item-duration">4 часа</span>
        </div>
        <div class="course-main__info-item">
          <span class="course-main__info-item-title">Формат:</span>
          <span class="course-main__info-item-format offline">Offline</span>
        </div>
        <div class="course-main__info-item course-main__info-item--full">
          <span class="course-main__info-item-title">Для кого:</span>
         <p>Для сотрудника отдела продаж / руководителя салона / мастера приемки </p>
        </div>
      </div>
      <div class="course-main__contacts">
        <div class="course-main__adress">
          <div class="course-main__city">
            <span class="icon"><img src="images/location-empty.svg" alt=""></span>
            Москва
           
          </div>
          ул. Бутырский Вал, д. 68/70, стр. 1, <br>
          Бизнес Центр «Baker Plaza»
        </div>
        <div class="course-main__map">
           <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Af6b155c37528d3d03b8a07522c664e66f998969f58fad722f1ecd0e7eb1915d1&amp;source=constructor"  frameborder="0"></iframe> 
        </div>
      </div>
    </div>
  </div>

  <div class="course-main-info">
    <div class="course-main-info-item">
      <span class="course-main-info-item__icon"><img src="images/education-icon.svg" alt=""></span>
      <span class="course-main-info-item__title">Срок доступности<br>
        для прохождения:</span>
      <span class="course-main-info-item__numbers">19.06 - 31.07 </span>
    </div>
    <div class="course-main-info-item">
      <span class="course-main-info-item__icon"><img src="images/list-icon.svg" alt=""></span>
      <span class="course-main-info-item__title">Регистрация на тренинг<br> доступна:</span>
      <span class="course-main-info-item__numbers">
        1.06 - 18.06</span>
    </div>
    <div class="course-main-info-item">
      <span class="course-main-info-item__icon"><img src="images/purse2.svg" alt=""></span>
      <span class="course-main-info-item__title">Стоимость участия <br>
        в тренинге:</span>
      <span class="course-main-info-item__numbers">15 200 <small>руб.</small> </span>
    </div>
    <div class="course-main-info-item">
      <span class="course-main-info-item__icon"><img src="images/user3.svg" alt=""></span>
      <span class="course-main-info-item__title">Осталось Свободных <br>
        мест:</span>
      <span class="course-main-info-item__numbers">
        7 <span>/ 30</span>   
      </span>
    </div>
    <span class="status status--passed status--lg"><span class="icon"><img src="images/check3.svg" alt=""></span> Участие подтверждено!</span>
  </div>

</div>
       <div class="text-content text-content--border">
        <h4 class="h4">Что вас ждет на данном тренинге?</h4>
        <p>Во-первых, чтобы понимать, кто ваш клиент, какие у него потребности, и на основании этого правильно позиционировать компанию. 
          Во-вторых, чтобы выстраивать уникальные механики взаимодействия с каждым из клиентов, повышать конверсию из предложения
          в покупку и общую лояльность клиентов.</p>
        <p>Если вы предлагаете клиенту то, что ему потенциально интересно, то его лояльность бренду и компании увеличивается вне зависимости от того, совершил он покупку по этому предложению или нет. По данным Website builder, 44% людей, получавших таргетированные письма, совершили как минимум одну покупку по содержащимся в них предложениям. При проведении исследования 52% опрошенных маркетологов сказали о необходимости сегментации базы данных в email-рассылках, так как индивидуальные предложения приносят в 18 раз больше доходов, чем широковещательные.</p>
        <p>В большинстве случаев сегментации подвергается текущая клиентская база. Но при создании нового бизнеса или отсутствии сбора данных сегментацию можно провести по результатам опросов существующих или потенциальных клиентов. Многие воспринимают данные опросов только как качественный метод исследования, уступающий анализу покупательского поведения. На самом деле оба вида анализа (на основании опросов и истории покупок) должны использоваться в вашем бизнесе в равной мере, так как они преследуют различные цели.</p>
        <p>Анализ результатов опросов используется для приоритизации задач бизнеса, создания вектора коммуникации с потребителями либо корректировки коммуникационной стратегии. Анализ истории покупок — для создания рекламных кампаний, построения механик программы лояльности и геймификации, изменения фокусировок маркетинга.</p>

        <div class="image-full"><img src="images/big-img-1.jpg" alt=""></div>



        <p>В большинстве случаев сегментации подвергается текущая клиентская база. Но при создании нового бизнеса или отсутствии сбора данных сегментацию можно провести по результатам опросов существующих или потенциальных клиентов. Многие воспринимают данные опросов только как качественный метод исследования, уступающий анализу покупательского поведения. На самом деле оба вида анализа (на основании опросов и истории покупок) должны использоваться в вашем бизнесе в равной мере, так как они преследуют различные цели.</p>
        <p>Анализ результатов опросов используется для приоритизации задач бизнеса, создания вектора коммуникации с потребителями либо корректировки коммуникационной стратегии. Анализ истории покупок — для создания рекламных кампаний, построения механик программы лояльности и геймификации, изменения фокусировок маркетинга.</p>
        <p>В большинстве случаев сегментации подвергается текущая клиентская база. Но при создании нового бизнеса или отсутствии сбора данных сегментацию можно провести по результатам опросов существующих или потенциальных клиентов. Многие воспринимают данные опросов только как качественный метод исследования, уступающий анализу покупательского поведения. На самом деле оба вида анализа (на основании опросов и истории покупок) должны использоваться в вашем бизнесе в равной мере, так как они преследуют различные цели. Анализ результатов опросов используется для приоритизации задач бизнеса, создания вектора коммуникации с потребителями либо корректировки коммуникационной стратегии. Анализ истории покупок — для создания рекламных кампаний, построения механик программы лояльности и геймификации, изменения фокусировок маркетинга.</p>


        <div class="video-content">
          <div class="video" data-video-id="CoL8Gtvxfl0">
            <div class="video-layer">
              <div class="video-placeholder">
                <!-- ^ div is replaced by the YouTube video -->
              </div>
            </div>
            <div class="video-preview" style="background: url(images/big-img-2.jpg) 50% 50% no-repeat">
              <!-- this icon would normally be implemented as a character in an icon font or svg spritesheet, or similar -->
            <img src="images/play-youtube.svg" class="video-play" alt="">
            </div>
          </div>
        </div>

        <p>Да, данные о покупках могут показать, что клиенты уходят, что снижается средний чек, но понять, за счёт чего это происходит и чего не хватает потребителям, — можно лишь с помощью обратной связи. При этом важно учитывать, что при проведении опроса погрешность могут внести психологические аспекты поведения. Во-первых, так как вы заинтересовались мнением человека, он попытается вас отблагодарить, давая ответы, потенциально угождающие вам. Во-вторых, на результат может значительно повлиять неправильная постановка вопроса или же ваша собственная склонность к подтверждению своей точки зрения.

         
          
          </p>
        <p> Например, даже профессиональный аналитик (только если он дополнительно не учился на психолога) не сможет понять лучше самого клиента, что клиенту действительно надо.</p>
        <p>Да, данные о покупках могут показать, что клиенты уходят, что снижается средний чек, но понять, за счёт чего это происходит и чего не хватает потребителям, — можно лишь с помощью обратной связи. При этом важно учитывать, что при проведении опроса погрешность могут внести психологические аспекты поведения. Во-первых, так как вы заинтересовались мнением человека, он попытается вас отблагодарить, давая ответы, потенциально угождающие вам. Во-вторых, на результат может значительно повлиять неправильная постановка вопроса или же ваша собственная склонность к подтверждению своей точки зрения.</p>
       </div>
    
   

          <h2 class="h2">ведущиЕ тренинга</h2>
          <div class="trainers">

            <div class="trainer-item">
              <div class="trainer-item__avatar"><img src="images/avatar-2.jpg" alt=""></div>
              <div class="trainer-item__content">
                <span class="trainer-item__name">Селивестров Максимилиан Антонович</span>
                <p>Владелец компании «GrandoMarketing». Тренер по маркетингу и рекламе, PR, брендингу, исследованиям, проджект-менеджменту. Большой практический опыт. </p>
              </div>
            </div>

            <div class="trainer-item">
              <div class="trainer-item__avatar"><img src="images/avatar-1.jpg" alt=""></div>
              <div class="trainer-item__content">
                <span class="trainer-item__name">Колосов Евгений Александрович</span>
                <p>Владелец компании «GrandoMarketing». Тренер по маркетингу и рекламе, PR, брендингу, исследованиям, проджект-менеджменту. Большой практический опыт. </p>
              </div>
            </div>
          </div>

          <h2 class="h2">Программа</h2>

          <div class="program">
            <ul class="program-accordion">

              <li class="li"><a href="#" class="opener"> Введение в маркетинг <span>(4 часа)</span></a>
                <ul class="submenu">
                  <li>
                    <p>В большинстве случаев сегментации подвергается текущая клиентская база. Но при создании нового
                      бизнеса или отсутствии сбора данных сегментацию можно провести по результатам опросов существующих
                      или потенциальных клиентов. Многие воспринимают данные опросов только как качественный метод
                      исследования, уступающий анализу покупательского поведения. На самом деле оба вида анализа должны
                      использоваться в вашем бизнесе в равной мере, так как они преследуют различные цели.</p>
                    <ul class="program-list">
                      <li>Определение маркетинга</li>
                      <li>История маркетинга</li>
                      <li>Базовые термины и инструменты</li>
                      <li>Тенденции маркетинга</li>
                    </ul>

                    <ul class="program-category">
                      <li><span>Практика</span>Домашняя работа по темам на закрепление концепций</li>
                      <li><span>Тесты</span>На тип обучения/работы с информацией</li>
                    </ul>
                  </li>
                </ul>

              </li>
              <li class="li"><a href="#" class="opener">Стратегический маркетинг <span>(4 часа)</span></a>
                <ul class="submenu">
                  <li> </li>
                </ul>

              </li>
              <li class="li"><a href="#" class="opener">Маркетинговые исследования <span>(3 часа)</span></a>
                <ul class="submenu">
                  <li> </li>
                </ul>

              </li>
              <li class="li"><a href="#" class="opener">Комплекс маркетинга <span> (4 часа)</span></a>
                <ul class="submenu">
                  <li> </li>
                </ul>

              </li>
              <li class="li"><a href="#" class="opener">Реклама (offline и online) <span> (3 часа)</span></a>
                <ul class="submenu">
                  <li> </li>
                </ul>

              </li>
              <li class="li"><a href="#" class="opener">Планирование и проведение рекламных кампаний (digital) <span>(4
                    часа)</span></a>
                <ul class="submenu">
                  <li> </li>
                </ul>

              </li>
              <li class="li"><a href="#" class="opener">Продажи как часть маркетинга <span>(3 часа)</span></a>
                <ul class="submenu">
                  <li> </li>
                </ul>

              </li>
              <li class="li"><a href="#" class="opener">Воронка продаж, путь клиента и клиентский опыт (Sales funnel,
                  CJM и CJE) <span>(4 часа)</span></a>
                <ul class="submenu">
                  <li> </li>
                </ul>

              </li>
              <li class="li"><a href="#" class="opener">Бюджет и оценка маркетинговой деятельности <span>(3
                    часа)</span></a>
                <ul class="submenu">
                  <li> </li>
                </ul>

              </li>
              <li class="li"><a href="#" class="opener">Торговая марка и брендинг <span>(4 часа)</span></a>
                <ul class="submenu">
                  <li> </li>
                </ul>

              </li>
              <li class="li"><a href="#" class="opener">Маркетинговый план и планирование <span>(3 часа)</span></a>
                <ul class="submenu">
                  <li> </li>
                </ul>

              </li>
              <li class="li"><a href="#" class="opener">Защита маркетингового плана <span>(4 часа)</span></a>
                <ul class="submenu">
                  <li> </li>
                </ul>

              </li>


            </ul>
          </div>

        </div>


      </div>


      <div class="content-section">
        <h2 class="h2">для участия необходимо пройти следующие курсы</h2>


        <div class="content-block">

          <div class="course-list">
            <div class="course-list-item">
              <span class="course-list-item__icon"><img src="images/education-icon.svg" alt=""></span>
              <span class="course-list-item__title"><a href="">«Быстрый рост прибыли компании в сжатые сроки»
                </a></span>
              <span class="course-list-item__btn"><a href="#"><span class="icon icon-arrow-link"></span></a></span>
            </div>
            <div class="course-list-item">
              <span class="course-list-item__icon"><img src="images/education-icon.svg" alt=""></span>
              <span class="course-list-item__title"><a href="">«Эффективность в команде» </a></span>
              <span class="course-list-item__btn"><a href="#"><span class="icon icon-arrow-link"></span></a></span>
            </div>
            <div class="course-list-item">
              <span class="course-list-item__icon"><img src="images/education-icon.svg" alt=""></span>
              <span class="course-list-item__title"><a href="">«Качественная настройка медийной рекламы в разных
                  социальных сетях и рекламных площадках маркетплейсов» </a></span>
              <span class="course-list-item__btn"><a href="#"><span class="icon icon-arrow-link"></span></a></span>
            </div>
          </div>


        </div>


      </div> 

      <div class="content-section">
        <h2 class="h2">материалы для предварительного ознакомления</h2>


        <div class="content-block">

          <div class="materials">
            <a href="" class="material-download-item">
              <span class="material-download-item__title"> Небольшой мини-курс «Эффективная реклама» по предварительной
                подготовке к курсу </span>
              <span class="material-download-item__icon">
                <span class="icon"> <img src="images/exel-icon.svg" alt=""></span>
                (15 Мб)
              </span>
            </a>
            <a href="" class="material-download-item">
              <span class="material-download-item__title"> Что необходимо знать по маркетингу и рекламе
                в современное время </span>
              <span class="material-download-item__icon">
                <span class="icon"> <img src="images/word-icon.svg" alt=""></span>
                (15 Мб)
              </span>
            </a>
            <a href="" class="material-download-item">
              <span class="material-download-item__title"> Как достигнуть качественного
                и быстрого роста прибыли в компании
                подготовке к курсу </span>
              <span class="material-download-item__icon">
                <span class="icon"> <img src="images/pdf-color-icon.svg" alt=""></span>
                (15 Мб)
              </span>
            </a>
            <a href="" class="material-download-item">
              <span class="material-download-item__title"> Полный чек-лист черт характера специалиста по продажам
                подготовке к курсу </span>
              <span class="material-download-item__icon">
                <span class="icon"> <img src="images/img-icon.svg" alt=""></span>
                (15 Мб)
              </span>
            </a>
            <a href="" class="material-download-item">
              <span class="material-download-item__title"> Небольшой мини-курс «Эффективная реклама» по предварительной
                подготовке к курсу </span>
              <span class="material-download-item__icon">
                <span class="icon"> <img src="images/exel-icon.svg" alt=""></span>
                (15 Мб)
              </span>
            </a>
            <a href="" class="material-download-item">
              <span class="material-download-item__title"> Что необходимо знать по маркетингу и рекламе
                в современное время
                подготовке к курсу </span>
              <span class="material-download-item__icon">
                <span class="icon"> <img src="images/link-icon.svg" alt=""></span>
                <span>texterra.ru</span>
              </span>
            </a>
            <a href="" class="material-download-item">
              <span class="material-download-item__title"> Как достигнуть качественного
                и быстрого роста прибыли в компании
                подготовке к курсу </span>
              <span class="material-download-item__icon">
                <span class="icon"> <img src="images/pdf-color-icon.svg" alt=""></span>
                (15 Мб)
              </span>
            </a>
            <a href="" class="material-download-item">
              <span class="material-download-item__title"> Полный чек-лист черт характера специалиста по продажам
                подготовке к курсу </span>
              <span class="material-download-item__icon">
                <span class="icon"> <img src="images/zip-icon.svg" alt=""></span>
                (15 Мб)
              </span>
            </a>
          </div>


        </div>


      </div>

      <div class="content-section">
        <h2 class="h2">связанные курсы</h2>


        <div class="content-block">

          <div class="course-list">
            <div class="course-list-item">
              <span class="course-list-item__icon"><img src="images/education-icon.svg" alt=""></span>
              <span class="course-list-item__title"><a href="">«Быстрый рост прибыли компании в сжатые сроки»
                </a></span>
              <span class="course-list-item__btn"><a href="#"><span class="icon icon-arrow-link"></span></a></span>
            </div>
            <div class="course-list-item">
              <span class="course-list-item__icon"><img src="images/education-icon.svg" alt=""></span>
              <span class="course-list-item__title"><a href="">«Эффективность в команде» </a></span>
              <span class="course-list-item__btn"><a href="#"><span class="icon icon-arrow-link"></span></a></span>
            </div>
            <div class="course-list-item">
              <span class="course-list-item__icon"><img src="images/education-icon.svg" alt=""></span>
              <span class="course-list-item__title"><a href="">«Качественная настройка медийной рекламы в разных
                  социальных сетях и рекламных площадках маркетплейсов» </a></span>
              <span class="course-list-item__btn"><a href="#"><span class="icon icon-arrow-link"></span></a></span>
            </div>
            <div class="course-list-item">
              <span class="course-list-item__icon"><img src="images/education-icon.svg" alt=""></span>
              <span class="course-list-item__title"><a href="">«Быстрый рост прибыли компании в сжатые сроки»
                </a></span>
              <span class="course-list-item__btn"><a href="#"><span class="icon icon-arrow-link"></span></a></span>
            </div>
            <div class="course-list-item">
              <span class="course-list-item__icon"><img src="images/education-icon.svg" alt=""></span>
              <span class="course-list-item__title"><a href="">«Эффективность в команде» </a></span>
              <span class="course-list-item__btn"><a href="#"><span class="icon icon-arrow-link"></span></a></span>
            </div>
            <div class="course-list-item">
              <span class="course-list-item__icon"><img src="images/education-icon.svg" alt=""></span>
              <span class="course-list-item__title"><a href="">«Качественная настройка медийной рекламы в разных
                  социальных сетях и рекламных площадках маркетплейсов» </a></span>
              <span class="course-list-item__btn"><a href="#"><span class="icon icon-arrow-link"></span></a></span>
            </div>
          </div>



        </div>


      </div>
    </div>
  </main>


  <footer>
    <div class="container">
      <div class="footer-content">
        <span class="footer-logo">
          <a href="#" class="logo"><img src="images/logo.svg" alt=""></a>
        </span>

        <ul class="footer-menu">
          <li><a href="">Правовая информация</a></li>
          <li><a href="">Политика персональных данных</a></li>
        </ul>
        <div class="footer-contacts">
          <span class="footer-phone"><a href="tel:">+7 (495) 290-77-75</a></span>
          <span class="footer-mail"><a href="mailto:">info@geely.com</a></span>
        </div>
      </div>
    </div>
    <div class="copy">Geely © 2022 Все права защищены. Полное или частичное копирование запрещено.</div>
  </footer>




  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="js/owl.carousel.js"></script>
  <script src="js/scripts.js"></script>


<script>

  

</script>


</body>

</html>