<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a  target="_blank" href="authorization.html">authorization.html</a><br>
<a  target="_blank" href="calendar.html">calendar.html</a><br>
<a  target="_blank" href="card_event_no_buttons.html">card_event_no_buttons.html</a><br>
<a  target="_blank" href="card_events.html">card_events.html</a><br>
<a  target="_blank" href="card_teaching-materials.html">card_teaching-materials.html</a><br>
<a  target="_blank" href="course-card.html">course-card.html</a><br>
<a  target="_blank" href="index.html">index.html</a><br>
<a  target="_blank" href="lk_user.html">lk_user.html</a><br>
<a  target="_blank" href="modal.html">modal.html</a><br>
<a  target="_blank" href="page1.html">page1.html</a><br>
<a  target="_blank" href="page2.html">page2.html</a><br>
<a  target="_blank" href="page3.html">page3.html</a><br>
<a  target="_blank" href="page4.html">page4.html</a><br>
<a  target="_blank" href="page5.html">page5.html</a><br>
<a  target="_blank" href="page6.html">page6.html</a><br>
<a  target="_blank" href="page7.html">page7.html</a><br>
<a  target="_blank" href="page8.html">page8.html</a><br>
<a  target="_blank" href="page9.html">page9.html</a><br>
<a  target="_blank" href="page10.html">page10.html</a><br>
<a  target="_blank" href="page11.html">page11.html</a><br>
<a  target="_blank" href="page12.html">page12.html</a><br>
<a  target="_blank" href="page13.html">page13.html</a><br>
<a  target="_blank" href="page14.html">page14.html</a><br>
<a  target="_blank" href="page15.html">page15.html</a><br>
<a  target="_blank" href="page16.html">page16.html</a><br>
<a  target="_blank" href="page18.html">page18.html</a><br>
<a  target="_blank" href="page19.html">page19.html</a><br>
<a  target="_blank" href="page20.html">page20.html</a><br>
<a  target="_blank" href="page21.html">page21.html</a><br>
<a  target="_blank" href="page22.html">page22.html</a><br>
<a  target="_blank" href="pages.html">pages.html</a><br>
<a  target="_blank" href="password.html">password.html</a><br>
<a  target="_blank" href="poll_1.html">poll_1.html</a><br>
<a  target="_blank" href="poll_2.html">poll_2.html</a><br>
<a  target="_blank" href="profile_user_1.html">profile_user_1.html</a><br>
<a  target="_blank" href="profile_user_1_edit.html">profile_user_1_edit.html</a><br>
<a  target="_blank" href="profile_user_2.html">profile_user_2.html</a><br>
<a  target="_blank" href="profile_user_3.html">profile_user_3.html</a><br>
<a  target="_blank" href="profile_user_4.html">profile_user_4.html</a><br>
<a  target="_blank" href="teaching-materials.html">teaching-materials.html</a><br>
<a  target="_blank" href="teaching-materials2.html">teaching-materials2.html</a><br>
</body>
</html>