<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <title></title>

  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.css'>
  <link href="css/styles.css" rel="stylesheet" type="text/css">



</head>

<body>

  <header>
    <div class="container">
      <div class="header-content">
        <a href="#" class="logo"><img src="images/logo.svg" alt=""></a>

        <nav class="main-menu move-2">
          <ul>
            <li><a href="">Новости</a></li>
            <li class="active"><a href="">Все курсы</a></li>
            <li><a href="">База знаний</a></li>
            <li><a href="">Расписание</a></li>
            <li><a href="">Личный кабинет</a></li>
          </ul>
        </nav>

        <div class="header-content__right">
          <div class="header-user">
            <a href="#">
              <span class="icon icon-profile"></span>
              Иванов М.В.
            </a>
          </div>

          <a class="burger"><span></span></a>
        </div>

      </div>
    </div>
  </header>

  <main>
    <div class="container">

      <!-- <div class="breadcrumbs">
        <a href="">Главная</a>
        <span class="sep"></span>
        <a href="">Курсы </a>
        <span class="sep"></span>
        Качественная мультимедийная реклама - результат быстрого отклика покупателей
      </div> -->

      <h2 class="h2">что такое личный бренд и как с его помощью можно продвигать бизнес и найти интересные связи</h2>

      <div class="content-block text-block content-block--margin">

        <div class="text-content">
          <div class="image-full"><img src="images/big-img-3.jpg" alt=""></div>

          <p>Личный бренд — это узнаваемый образ, который складывается в общественном представлении в отношении
            конкретного человека. Личный бренд включает в себя знания, навыки, сильные личные качества, стиль, особые
            фишки, идеи и позиции по каким-то вопросам.</p>
          <p>Ключевые <a href="">характеристики личного бренда</a>  — это репутация и охват. Необязательно иметь огромные охваты, важно
            распространять свое влияние непосредственно на целевую аудиторию и иметь вес в профессиональном сообществе.
          </p>
          <p>Репутация принципиально важна. Можно выстраивать ее годами и в один момент испортить неудачным высказыванием
            или плохим поступком. Тогда большие охваты сыграют негативную роль, аудитория начнет уходить, а  <a href="">восстановить
              репутацию</a>  непросто.</p>
  
          <h4 class="h4">Кому и зачем нужен личный бренд</h4>
          <p>Личный бренд формирует желаемый образ для аудитории, позволяет продвинуть какую-то идею и в большинстве
            случаев монетизировать ее. Так, например, фитнес-блогер Анастасия Миронова открыла онлайн-школу фитнеса и
            магазин спортивной одежды, а также запустила проект про заботу о себе. Персональный бренд помогает привлечь
            клиентов, которые готовы платить больше — за имя, репутацию, экспертность. Таким образом, затраты на поиск
            покупателей уменьшаются, а средний чек увеличивается. Это особенно важно в сферах с высокой конкуренцией.</p>
          <p><strong>Если у вас выстроен личный бренд, проще приобретать выгодные связи: знакомиться с различными
              экспертами, инфлюенсерами, медийными личностями. Это можно выгодно использовать при развитии своего дела.
              Аналогичная ситуация с привлечением партнеров и инвесторов: люди охотнее пойдут на контакт с человеком,
              сделавшим себе имя, чем с неизвестным предпринимателем.</strong></p>
          <p>Персональный бренд необходим актерам, певцам, представителям других творческих профессий. Для медийных
            личностей важны настроения аудитории, им нужно поддерживать положительный образ, иначе карьера может
            закончиться. Развитая в США культура отмены отчасти применима и в российской действительности.</p>
          <p>Среди фотографов и художников высокая конкуренция, но обладатель сильного личного бренда всегда найдет своего
            зрителя. Например, за работой художника-каллиграфа Покрас Лампас следят тысячи людей. Он выработал собственный
            уникальный стиль, выполнил много ярких проектов, в том числе для модного дома Fendi, и успешно запустил
            продажу мерча.</p>
          <div class="video-content">
            <div class="video" data-video-id="CoL8Gtvxfl0">
              <div class="video-layer">
                <div class="video-placeholder">
                  <!-- ^ div is replaced by the YouTube video -->
                </div>
              </div>
              <div class="video-preview" style="background: url(images/big-img-2.jpg) 50% 50% no-repeat">
                <!-- this icon would normally be implemented as a character in an icon font or svg spritesheet, or similar -->
                <img src="images/play-youtube.svg" class="video-play" alt="">
              </div>
            </div>
          </div>



          <p>Личный бренд формирует желаемый образ для аудитории, позволяет продвинуть какую-то идею и в большинстве
            случаев монетизировать ее. Так, например, фитнес-блогер Анастасия Миронова открыла онлайн-школу фитнеса и
            магазин спортивной одежды, а также запустила проект про заботу о себе. Персональный бренд помогает привлечь
            клиентов, которые готовы платить больше — за имя, репутацию, экспертность. Таким образом, затраты на поиск
            покупателей уменьшаются, а средний чек увеличивается. Это особенно важно в сферах с высокой конкуренцией.
          </p>
          <p> Если у вас выстроен личный бренд, проще приобретать выгодные связи: знакомиться с различными экспертами,
            инфлюенсерами, медийными личностями. Это можно выгодно использовать при развитии своего дела. Аналогичная
            ситуация с привлечением партнеров и инвесторов: люди охотнее пойдут на контакт с человеком, сделавшим себе
            имя, чем с неизвестным предпринимателем.</p>
          <p>Персональный бренд необходим актерам, певцам, представителям других творческих профессий. Для медийных
            личностей важны настроения аудитории, им нужно поддерживать положительный образ, иначе карьера может
            закончиться. Развитая в США культура отмены отчасти применима и в российской действительности.</p>
          <p>Среди фотографов и художников высокая конкуренция, но обладатель сильного личного бренда всегда найдет
            своего зрителя. Например, за работой художника-каллиграфа Покрас Лампас следят тысячи людей. Он выработал
            собственный уникальный стиль, выполнил много ярких проектов, в том числе для модного дома Fendi, и успешно
            запустил продажу мерча.</p>
        

        <div class="quote-block">
          <span class="icon"><img src="images/quotes-icon.svg" alt=""></span>
          <span class="quote-block__text">Создать персональный бренд легче, чем бренд фирмы — человек, жизнь которого
            можно увидеть в соцсетях, вызывает больше расположения. При этом имидж владельца переносится на образ его
            компании. </span>
          <span class="quote-block__name">Смоленский Игорь Викторович</span>
        </div>

    

          <p>Развивать личный бренд полезно предпринимателям — его наличие способствует успешному продвижению и хорошим продажам. Благодаря правильному имиджу владельца компании конкурентоспособность бизнес-проектов возрастает.</p>
          <p>Персональный бренд требуется различным экспертам, чтобы быть на слуху и пользоваться доверием среди аудитории. Это относится к врачам, маркетологам, дизайнерам, финансовым консультантам, фитнес-тренерам, коучам и другим специалистам. Это необходимо, если вы планируете продавать курсы.</p>
          <p>То же касается преподавателей — чем больше людей знает вас в хорошем свете, тем больше приходит клиентов, а при повышенном спросе можно увеличивать стоимость своих услуг.</p>
          <p>Если вы рядовой работник в найме, но хотите вырасти в профессиональном плане, также стоит прокачать личный бренд. Так больше шансов, что работодатель предложит повышение или поступит оффер от другой компании.</p>
          <p>Если есть цель расти как лидер, влиять на мнение других людей — развивайте персональный бренд.</p>
          <h4 class="h4">Как создать личный бренд</h4>
          <p>В первую очередь определитесь, для чего вам нужен личный бренд, есть ли смысл развивать его в вашем случае. Если ответ положительный, переходим к этапам создания. Ответьте на вопросы: кто вы? Чем вы можете быть полезны людям? Чего хотите добиться? Это основа позиционирования. Подумайте, какое место на рынке вы хотите занять, и какое представление о вас должно сложиться у аудитории.</p>
          <p>Возможно, вы эксперт в финансах, работаете с узким кругом клиентом и хотите его расширить. Скорее всего, у вас должен быть имидж серьезного, уверенного специалиста, опытного и ответственного. Излишняя эмоциональность и несерьезное поведение не вяжутся с таким образом. При этом немного эмоций всегда уместно — это показывает, что вы живой человек, и сближает с аудиторией.</p>
          <p>Теперь нужно показать, в чем ваше отличие от конкурентов, почему именно к вам стоит обратиться. Подумайте, какие у вас сильные стороны. Сформулируйте УТП своего бренда.</p>
          <p>Вы имеете примерное представление о том, кто составляет вашу целевую аудиторию. Для разработки стратегии продвижения полезно составить портреты клиентов — так вы будете лучше понимать потребности аудитории, и чего она ожидает от вас.</p>
          <p>С учетом этой информации вы сможете подобрать верный тон, правильно преподнести себя и создавать контент, который откликается ЦА. Зная болевые точки подписчиков, их легче превратить в клиентов.</p>

          <div class="content-slider owl-carousel">
            <div class="item"><img src="images/big-img-2.jpg" alt=""></div>
            <div class="item"><img src="images/big-img-2.jpg" alt=""></div>
            <div class="item"><img src="images/big-img-1.jpg" alt=""></div>
            <div class="item"><img src="images/big-img-2.jpg" alt=""></div>
            <div class="item"><img src="images/big-img-2.jpg" alt=""></div>
          </div>

 
         <p>Контент должен соответствовать вашему образу. Уделите внимание визуальной составляющей: цвета, шаблоны, стиль фото, оформление ленты и текста. Все это помогает передавать аудитории правильный посыл.</p>
         <p>Желательно устроить профессиональную фотосессию, чтобы получить запас снимков на несколько месяцев. Даже если вы подготовите пост о каком-то событии, на обложку стоит поместить личное фото — они лучше привлекают внимание.</p>
         <p>Мы подробно разобрали эту тему в статье «Как создать качественный визуал в Инстаграм». Если сомневаетесь в своих силах, можно обратиться к специалистам. В текстах должен ощущаться ваш стиль. На первых порах очень рекомендуем писать тексты самостоятельно. Если позже вы решите нанять копирайтера, ему будет на что ориентироваться. В идеале для персонального блога лучше всегда писать самому. Если такой возможности нет, надиктовывайте копирайтеру свои мысли, а перед публикацией проверяйте пост.
        </p>
         <p>Используйте сторителлинг — в личном блоге он особенно уместен. Расскажите о пути к успеху, о том, почему решили заняться своим делом и так далее. Будьте честны с аудиторией, фальшь чувствуется и отталкивает.</p>

          <div class="btn-center">
            <a href="" class="btn">Читать весь материал</a>
            <a href="" class="btn">Скачать всю информацию</a>
          </div>
        </div>


      </div>

      <div class="content-section">
        <h2 class="h2">автор материала</h2>

        <div class="content-block">
          <div class="author">
            <span class="author__avatar">
              <img src="images/avatar-1.jpg" alt="">
              <span class="icon"><img src="images/education-icon-white.svg" alt=""></span>
            </span>
            <div class="author__content">
              <span class="author__name">Антонинов Станислав Евгеньевич</span>
              <p>Владелец компании «GrandoMarketing». Тренер-преподаватель по маркетингу и рекламе, PR, брендингу,
                исследованиям, проджект-менеджменту. Большой практический опыт. </p>
              <div class="author__contacts">
                <div class="author__social">
                  <span><a href="#"><img src="images/vk.svg" alt=""></a></span>
                  <span><a href="#"><img src="images/telegram.svg" alt=""></a></span>
                </div>
                <div class="author__mail">
                  <a href="#">
                    <span class="icon"><img src="images/notice-mail.svg" alt=""></span>
                    antoninov@yandex.ru
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="content-section">
        <h2 class="h2">материалы для предварительного ознакомления</h2>


        <div class="content-block">

          <div class="materials">
            <a href="" class="material-download-item">
              <span class="material-download-item__title"> Небольшой мини-курс «Эффективная реклама» по предварительной
                подготовке к курсу </span>
              <span class="material-download-item__icon">
                <span class="icon"> <img src="images/exel-icon.svg" alt=""></span>
                (15 Мб)
              </span>
            </a>
            <a href="" class="material-download-item">
              <span class="material-download-item__title"> Что необходимо знать по маркетингу и рекламе
                в современное время </span>
              <span class="material-download-item__icon">
                <span class="icon"> <img src="images/word-icon.svg" alt=""></span>
                (15 Мб)
              </span>
            </a>
            <a href="" class="material-download-item">
              <span class="material-download-item__title"> Как достигнуть качественного
                и быстрого роста прибыли в компании
                подготовке к курсу </span>
              <span class="material-download-item__icon">
                <span class="icon"> <img src="images/pdf-color-icon.svg" alt=""></span>
                (15 Мб)
              </span>
            </a>
            <a href="" class="material-download-item">
              <span class="material-download-item__title"> Полный чек-лист черт характера специалиста по продажам
                подготовке к курсу </span>
              <span class="material-download-item__icon">
                <span class="icon"> <img src="images/img-icon.svg" alt=""></span>
                (15 Мб)
              </span>
            </a>
            <a href="" class="material-download-item">
              <span class="material-download-item__title"> Небольшой мини-курс «Эффективная реклама» по предварительной
                подготовке к курсу </span>
              <span class="material-download-item__icon">
                <span class="icon"> <img src="images/exel-icon.svg" alt=""></span>
                (15 Мб)
              </span>
            </a>
            <a href="" class="material-download-item">
              <span class="material-download-item__title"> Что необходимо знать по маркетингу и рекламе
                в современное время
                подготовке к курсу </span>
              <span class="material-download-item__icon">
                <span class="icon"> <img src="images/link-icon.svg" alt=""></span>
                <span>texterra.ru</span>
              </span>
            </a>
            <a href="" class="material-download-item">
              <span class="material-download-item__title"> Как достигнуть качественного
                и быстрого роста прибыли в компании
                подготовке к курсу </span>
              <span class="material-download-item__icon">
                <span class="icon"> <img src="images/pdf-color-icon.svg" alt=""></span>
                (15 Мб)
              </span>
            </a>
            <a href="" class="material-download-item">
              <span class="material-download-item__title"> Полный чек-лист черт характера специалиста по продажам
                подготовке к курсу </span>
              <span class="material-download-item__icon">
                <span class="icon"> <img src="images/zip-icon.svg" alt=""></span>
                (15 Мб)
              </span>
            </a>
          </div>


        </div>


      </div>

      <div class="content-section">
        <h2 class="h2">связанные курсы</h2>


        <div class="content-block">

          <div class="course-list">
            <div class="course-list-item">
              <span class="course-list-item__icon"><img src="images/education-icon.svg" alt=""></span>
              <span class="course-list-item__title"><a href="">«Быстрый рост прибыли компании в сжатые сроки»
                </a></span>
              <span class="course-list-item__btn"><a href="#"><span class="icon icon-arrow-link"></span></a></span>
            </div>
            <div class="course-list-item">
              <span class="course-list-item__icon"><img src="images/education-icon.svg" alt=""></span>
              <span class="course-list-item__title"><a href="">«Эффективность в команде» </a></span>
              <span class="course-list-item__btn"><a href="#"><span class="icon icon-arrow-link"></span></a></span>
            </div>
            <div class="course-list-item">
              <span class="course-list-item__icon"><img src="images/education-icon.svg" alt=""></span>
              <span class="course-list-item__title"><a href="">«Качественная настройка медийной рекламы в разных
                  социальных сетях и рекламных площадках маркетплейсов» </a></span>
              <span class="course-list-item__btn"><a href="#"><span class="icon icon-arrow-link"></span></a></span>
            </div>
            <div class="course-list-item">
              <span class="course-list-item__icon"><img src="images/education-icon.svg" alt=""></span>
              <span class="course-list-item__title"><a href="">«Быстрый рост прибыли компании в сжатые сроки»
                </a></span>
              <span class="course-list-item__btn"><a href="#"><span class="icon icon-arrow-link"></span></a></span>
            </div>
            <div class="course-list-item">
              <span class="course-list-item__icon"><img src="images/education-icon.svg" alt=""></span>
              <span class="course-list-item__title"><a href="">«Эффективность в команде» </a></span>
              <span class="course-list-item__btn"><a href="#"><span class="icon icon-arrow-link"></span></a></span>
            </div>
            <div class="course-list-item">
              <span class="course-list-item__icon"><img src="images/education-icon.svg" alt=""></span>
              <span class="course-list-item__title"><a href="">«Качественная настройка медийной рекламы в разных
                  социальных сетях и рекламных площадках маркетплейсов» </a></span>
              <span class="course-list-item__btn"><a href="#"><span class="icon icon-arrow-link"></span></a></span>
            </div>
          </div>



        </div>


      </div>

    </div>
  </main>


  <footer>
    <div class="container">
      <div class="footer-content">
        <span class="footer-logo">
          <a href="#" class="logo"><img src="images/logo.svg" alt=""></a>
        </span>

        <ul class="footer-menu">
          <li><a href="">Правовая информация</a></li>
          <li><a href="">Политика персональных данных</a></li>
        </ul>
        <div class="footer-contacts">
          <span class="footer-phone"><a href="tel:">+7 (495) 290-77-75</a></span>
          <span class="footer-mail"><a href="mailto:">info@geely.com</a></span>
        </div>
      </div>
    </div>
    <div class="copy">Geely © 2022 Все права защищены. Полное или частичное копирование запрещено.</div>
  </footer>




  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="js/owl.carousel.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js'></script>
  <script src="js/scripts.js"></script>





</body>

</html>