<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <title></title>

  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.css'>
  <link href="css/styles.css" rel="stylesheet" type="text/css">



</head>

<body>

  <header>
    <div class="container">
      <div class="header-content">
        <a href="#" class="logo"><img src="images/logo.svg" alt=""></a>

        <nav class="main-menu move-2">
          <ul>
            <li><a href="">Новости</a></li>
            <li class="active"><a href="">Все курсы</a></li>
            <li><a href="">База знаний</a></li>
            <li><a href="">Расписание</a></li>
            <li><a href="">Личный кабинет</a></li>
          </ul>
        </nav>

        <div class="header-content__right">
          <div class="header-user">
            <a href="#">
              <span class="icon icon-profile"></span>
              Иванов М.В.
            </a>
          </div>

          <a class="burger"><span></span></a>
        </div>

      </div>
    </div>
  </header>

  <main>
    <div class="container">
      <div class="main-content">
        <aside>
          <div class="aside-sticky aside-sticky--title">
            <h3 class="h3 mobile-hide">профиль</h3>
            <div class="materials-menu move-1 aside-block">
              <ul>
                <li class="active"><a href="">Общие данные</a></li>
                <li><a href="">Пройденные курсы<span>17</span></a></li>
                <li><a href="">Уведомления<span>12</span></a></li>
                <li><a href="">Настройки</a></li>
              </ul>
            </div>

            <h3 class="h3">Мои курсы</h3>

            <div class="my-course-aside aside-block">
              <ul>
                <li>
                  <a href="">
                    <span class="icon icon-education"></span>
                    Новые

                  </a><span class="my-course-number">2</span>
                </li>
                <li>
                  <a href="">
                    <span class="icon icon-education"></span>
                    Назначенные
                  </a>
                  <span class="my-course-number">3</span>
                </li>
                <li>
                  <a href="">
                    <span class="icon icon-education"></span>
                    Пройденные

                  </a> <span class="my-course-number">12</span>
                </li>
              </ul>
            </div>

            <h3 class="h3">ближайшие курсы</h3>

            <div class="upcoming-courses aside-block aside-block--border">
              <div class="upcoming-course">
                <a href="">
                  <span class="icon icon-calendar"></span>
                  <span class="upcoming-course__content">
                    <span class="upcoming-course__top">
                      <span class="upcoming-course__date">12 ноября</span>
                      <span class="upcoming-course__places"><span>8</span> / 12 мест</span>
                    </span>
                    <span class="upcoming-course__title">«Информация о бренде»</span>
                  </span>
                </a>
              </div>

              <div class="upcoming-course">
                <a href="">
                  <span class="icon icon-calendar"></span>
                  <span class="upcoming-course__content">
                    <span class="upcoming-course__top">
                      <span class="upcoming-course__date">20 ноября</span>
                      <span class="upcoming-course__status offline">Offine</span>
                    </span>
                    <span class="upcoming-course__title">«Рестайл версия Atlas Pro,
                      основые отличия»</span>
                  </span>
                </a>
              </div>
              <div class="upcoming-course">
                <a href="">
                  <span class="icon icon-calendar"></span>
                  <span class="upcoming-course__content">
                    <span class="upcoming-course__top">
                      <span class="upcoming-course__date">28 ноября</span>
                      <span class="upcoming-course__status online">Online</span>
                    </span>
                    <span class="upcoming-course__title">«Правила работы
                      с клиентами корпсегмента»</span>
                  </span>
                </a>
              </div>


            </div>

          </div>

        </aside>
        <div class="content">
          <h2 class="h2">ПРОЙДЕННЫЕ КУРСЫ</h2>

<div class="year-selection">
  <a href="" class="active">2021</a>
  <a href="">2022</a>
</div>

          <div class="table-block">
            <table class="table table-bordered table-striped table-responsive-stack" id="table-1">
              <thead class="thead-dark">
                 <tr>
                  <th>Курс</th>
                  <th>Тип</th>
                  <th>Статус</th>
                  <th>Попыток</th>
                  <th>Баллы</th>
                  <th>Дата</th>
                  <th>Сертификат</th>
                 </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href="">Быстрый рост прибыли компании 
                    в сжатые сроки</a></td>
                  <td>online</td>
                  <td>
                    <span class="status status--passed"><span class="icon"><img src="images/check2.svg" alt=""></span> пройден</span>
                  </td>
                  <td> <span class="table-attempts"><span>2</span> / 5</span></td>
                  <td>60</td>
                  <td>12 ноября</td>
                  <td>
                    <a  class="download"><span class="icon-download"></span></a>
                  </td>
                 </tr>
                 <tr>
                  <td><a href="">Быстрый рост прибыли компании 
                    в сжатые сроки</a></td>
                  <td>online</td>
                  <td>
                    <span class="status status--passed"><span class="icon"><img src="images/check2.svg" alt=""></span> пройден</span>
                  </td>
                  <td> <span class="table-attempts"><span>2</span> / 5</span></td>
                  <td>60</td>
                  <td>12 ноября</td>
                  <td>
                    <a  class="download"><span class="icon-download"></span></a>
                  </td>
                 </tr>
                 <tr>
                  <td><a href="">Быстрый рост прибыли компании 
                    в сжатые сроки</a></td>
                  <td>online</td>
                  <td>
                    <span class="status status--passed"><span class="icon"><img src="images/check2.svg" alt=""></span> пройден</span>
                  </td>
                  <td> <span class="table-attempts"><span>2</span> / 5</span></td>
                  <td>60</td>
                  <td>12 ноября</td>
                  <td>
                    <a  class="download"><span class="icon-download"></span></a>
                  </td>
                 </tr>
                 <tr>
                  <td><a href="">Быстрый рост прибыли компании 
                    в сжатые сроки</a></td>
                  <td>online</td>
                  <td>
                    <span class="status status--passed"><span class="icon"><img src="images/check2.svg" alt=""></span> пройден</span>
                  </td>
                  <td> <span class="table-attempts"><span>2</span> / 5</span></td>
                  <td>60</td>
                  <td>12 ноября</td>
                  <td>
                    <a  class="download"><span class="icon-download"></span></a>
                  </td>
                 </tr>
                 <tr>
                  <td><a href="">Быстрый рост прибыли компании 
                    в сжатые сроки</a></td>
                  <td>online</td>
                  <td>
                    <span class="status status--passed"><span class="icon"><img src="images/check2.svg" alt=""></span> пройден</span>
                  </td>
                  <td> <span class="table-attempts"><span>2</span> / 5</span></td>
                  <td>60</td>
                  <td>12 ноября</td>
                  <td>
                    <a  class="download"><span class="icon-download"></span></a>
                  </td>
                 </tr>
                 <tr>
                  <td><a href="">Быстрый рост прибыли компании 
                    в сжатые сроки</a></td>
                  <td>online</td>
                  <td>
                    <span class="status status--passed"><span class="icon"><img src="images/check2.svg" alt=""></span> пройден</span>
                  </td>
                  <td> <span class="table-attempts"><span>2</span> / 5</span></td>
                  <td>60</td>
                  <td>12 ноября</td>
                  <td>
                    <a  class="download"><span class="icon-download"></span></a>
                  </td>
                 </tr>
                 <tr>
                  <td><a href="">Быстрый рост прибыли компании 
                    в сжатые сроки</a></td>
                  <td>online</td>
                  <td>
                    <span class="status status--passed"><span class="icon"><img src="images/check2.svg" alt=""></span> пройден</span>
                  </td>
                  <td> <span class="table-attempts"><span>2</span> / 5</span></td>
                  <td>60</td>
                  <td>12 ноября</td>
                  <td>
                    <a  class="download"><span class="icon-download"></span></a>
                  </td>
                 </tr>
                 <tr>
                  <td><a href="">Быстрый рост прибыли компании 
                    в сжатые сроки</a></td>
                  <td>online</td>
                  <td>
                    <span class="status status--passed"><span class="icon"><img src="images/check2.svg" alt=""></span> пройден</span>
                  </td>
                  <td> <span class="table-attempts"><span>2</span> / 5</span></td>
                  <td>60</td>
                  <td>12 ноября</td>
                  <td>
                    <a  class="download"><span class="icon-download"></span></a>
                  </td>
                 </tr>
                 <tr>
                  <td><a href="">Быстрый рост прибыли компании 
                    в сжатые сроки</a></td>
                  <td>online</td>
                  <td>
                    <span class="status status--passed"><span class="icon"><img src="images/check2.svg" alt=""></span> пройден</span>
                  </td>
                  <td> <span class="table-attempts"><span>2</span> / 5</span></td>
                  <td>60</td>
                  <td>12 ноября</td>
                  <td>
                    <a  class="download"><span class="icon-download"></span></a>
                  </td>
                 </tr>
                 <tr>
                  <td><a href="">Быстрый рост прибыли компании 
                    в сжатые сроки</a></td>
                  <td>online</td>
                  <td>
                    <span class="status status--passed"><span class="icon"><img src="images/check2.svg" alt=""></span> пройден</span>
                  </td>
                  <td> <span class="table-attempts"><span>2</span> / 5</span></td>
                  <td>60</td>
                  <td>12 ноября</td>
                  <td>
                    <a  class="download"><span class="icon-download"></span></a>
                  </td>
                 </tr>
                 <tr>
                  <td><a href="">Быстрый рост прибыли компании 
                    в сжатые сроки</a></td>
                  <td>online</td>
                  <td>
                    <span class="status status--passed"><span class="icon"><img src="images/check2.svg" alt=""></span> пройден</span>
                  </td>
                  <td> <span class="table-attempts"><span>2</span> / 5</span></td>
                  <td>60</td>
                  <td>12 ноября</td>
                  <td>
                    <a  class="download"><span class="icon-download"></span></a>
                  </td>
                 </tr>
                 <tr>
                  <td><a href="">Быстрый рост прибыли компании 
                    в сжатые сроки</a></td>
                  <td>online</td>
                  <td>
                    <span class="status status--passed"><span class="icon"><img src="images/check2.svg" alt=""></span> пройден</span>
                  </td>
                  <td> <span class="table-attempts"><span>2</span> / 5</span></td>
                  <td>60</td>
                  <td>12 ноября</td>
                  <td>
                    <a  class="download"><span class="icon-download"></span></a>
                  </td>
                 </tr>
                 <tr>
                  <td><a href="">Быстрый рост прибыли компании 
                    в сжатые сроки</a></td>
                  <td>online</td>
                  <td>
                    <span class="status status--passed"><span class="icon"><img src="images/check2.svg" alt=""></span> пройден</span>
                  </td>
                  <td> <span class="table-attempts"><span>2</span> / 5</span></td>
                  <td>60</td>
                  <td>12 ноября</td>
                  <td>
                    <a  class="download"><span class="icon-download"></span></a>
                  </td>
                 </tr>
                 <tr>
                  <td><a href="">Быстрый рост прибыли компании 
                    в сжатые сроки</a></td>
                  <td>online</td>
                  <td>
                    <span class="status status--passed"><span class="icon"><img src="images/check2.svg" alt=""></span> пройден</span>
                  </td>
                  <td> <span class="table-attempts"><span>2</span> / 5</span></td>
                  <td>60</td>
                  <td>12 ноября</td>
                  <td>
                    <a  class="download"><span class="icon-download"></span></a>
                  </td>
                 </tr>
                 <tr>
                  <td><a href="">Быстрый рост прибыли компании 
                    в сжатые сроки</a></td>
                  <td>online</td>
                  <td>
                    <span class="status status--passed"><span class="icon"><img src="images/check2.svg" alt=""></span> пройден</span>
                  </td>
                  <td> <span class="table-attempts"><span>2</span> / 5</span></td>
                  <td>60</td>
                  <td>12 ноября</td>
                  <td>
                    <a  class="download"><span class="icon-download"></span></a>
                  </td>
                 </tr>
                 <tr>
                  <td><a href="">Быстрый рост прибыли компании 
                    в сжатые сроки</a></td>
                  <td>online</td>
                  <td>
                    <span class="status status--passed"><span class="icon"><img src="images/check2.svg" alt=""></span> пройден</span>
                  </td>
                  <td> <span class="table-attempts"><span>2</span> / 5</span></td>
                  <td>60</td>
                  <td>12 ноября</td>
                  <td>
                    <a  class="download"><span class="icon-download"></span></a>
                  </td>
                 </tr>
              </tbody>
           </table>
     
          </div>
       
          <div class="pagination">
            <div class="pagination__nav">
              <a href="" class="prev"><span class="icon icon-arrow-link"></span>предыдущая</a>
              <a href="" class="next">следующая<span class="icon icon-arrow-link"></span></a>
            </div>
            <div class="pagination__pages">
              <span><a href=""  class="active">1</a></span>
              <span><a href="">2</a></span>
              <span><a href="">3</a></span>
              <span><a href="">4</a></span>
              <span><a href="">5</a></span>
              <span><a href="">6</a></span>
              <span><a href="">7</a></span>
              <span><a href="">8</a></span>
            </div>
          </div>
        </div>
      </div>


    </div>
  </main>


  <footer>
    <div class="container">
      <div class="footer-content">
        <span class="footer-logo">
          <a href="#" class="logo"><img src="images/logo.svg" alt=""></a>
        </span>

        <ul class="footer-menu">
          <li><a href="">Правовая информация</a></li>
          <li><a href="">Политика персональных данных</a></li>
        </ul>
        <div class="footer-contacts">
          <span class="footer-phone"><a href="tel:">+7 (495) 290-77-75</a></span>
          <span class="footer-mail"><a href="mailto:">info@geely.com</a></span>
        </div>
      </div>
    </div>
    <div class="copy">Geely © 2022 Все права защищены. Полное или частичное копирование запрещено.</div>
  </footer>




  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="js/owl.carousel.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js'></script>
  <script src="js/scripts.js"></script>


  <svg width="0" height="0" class="hidden">
    <symbol fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 24" id="document">
      <g clip-path="url(#clip0_432_27797)">
        <path d="M21.7969 5.20644L16.2585 -0.137314C16.1292 -0.262002 15.9538 -0.333252 15.7692 -0.333252H6.07692C4.93231 -0.333252 4 0.566279 4 1.67065V20.4628C4 21.5672 4.93231 22.4667 6.07692 22.4667H19.9231C21.0677 22.4667 22 21.5672 22 20.4628V5.67847C22 5.49589 21.9215 5.32667 21.7969 5.20644ZM16.4615 1.94675L19.6369 5.0105H17.1538C16.7708 5.0105 16.4615 4.71214 16.4615 4.34253V1.94675ZM19.9231 21.1308H6.07692C5.69385 21.1308 5.38462 20.8325 5.38462 20.4628V1.67065C5.38462 1.30104 5.69385 1.00269 6.07692 1.00269H15.0769V4.34253C15.0769 5.4469 16.0092 6.34644 17.1538 6.34644H20.6154V20.4628C20.6154 20.8325 20.3062 21.1308 19.9231 21.1308Z" fill="currentColor" stroke="currentColor" stroke-width="0.3"></path>
        <path d="M17.1523 9.10742H8.84465C8.46157 9.10742 8.15234 9.40578 8.15234 9.77539C8.15234 10.145 8.46157 10.4434 8.84465 10.4434H17.1523C17.5354 10.4434 17.8447 10.145 17.8447 9.77539C17.8447 9.40578 17.5354 9.10742 17.1523 9.10742Z" fill="currentColor" stroke="currentColor" stroke-width="0.3"></path>
        <path d="M17.1523 11.7793H8.84465C8.46157 11.7793 8.15234 12.0777 8.15234 12.4473C8.15234 12.8169 8.46157 13.1152 8.84465 13.1152H17.1523C17.5354 13.1152 17.8447 12.8169 17.8447 12.4473C17.8447 12.0777 17.5354 11.7793 17.1523 11.7793Z" fill="currentColor" stroke="currentColor" stroke-width="0.3"></path>
        <path d="M17.1523 14.4512H8.84465C8.46157 14.4512 8.15234 14.7495 8.15234 15.1191C8.15234 15.4887 8.46157 15.7871 8.84465 15.7871H17.1523C17.5354 15.7871 17.8447 15.4887 17.8447 15.1191C17.8447 14.7495 17.5354 14.4512 17.1523 14.4512Z" fill="currentColor" stroke="currentColor" stroke-width="0.3"></path>
        <path d="M14.3831 17.123H8.84465C8.46157 17.123 8.15234 17.4214 8.15234 17.791C8.15234 18.1606 8.46157 18.459 8.84465 18.459H14.3831C14.7662 18.459 15.0754 18.1606 15.0754 17.791C15.0754 17.4214 14.7662 17.123 14.3831 17.123Z" fill="currentColor" stroke="currentColor" stroke-width="0.3"></path>
      </g>
      <defs>
        <clipPath id="clip0_432_27797">
          <rect width="24" height="24" fill="white" transform="translate(0.75)"></rect>
        </clipPath>
      </defs>
    </symbol>
  </svg>



</body>

</html>