<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <title></title>

  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.css'>
  <link href="css/styles.css" rel="stylesheet" type="text/css">



</head>

<body>

  <header>
    <div class="container">
      <div class="header-content">
        <a href="#" class="logo"><img src="images/logo.svg" alt=""></a>

        <nav class="main-menu move-2">
          <ul>
            <li><a href="">Новости</a></li>
            <li><a href="">Все курсы</a></li>
            <li><a href="">База знаний</a></li>
            <li><a href="">Расписание</a></li>
            <li><a href="">Личный кабинет</a></li>
          </ul>
        </nav>

        <div class="header-content__right">
          <div class="header-user">
            <a href="#">
              <span class="icon icon-profile"></span>
              Иванов М.В.
            </a>
          </div>

          <a class="burger"><span></span></a>
        </div>

      </div>
    </div>
  </header>

  <main>
    <div class="container">
      <h2 class="h2">учебные материалы</h2>
      <div class="main-content">
        <aside  class="aside-long">
          <div class="aside-sticky">
            <div class="materials-menu move-1 aside-block">
              <ul>
                <li><a href="">Финансовые вопросы<span>48</span></a></li>
                <li class="active"><a href="">Маркетинг и реклама<span>51</span></a></li>
                <li><a href="">Управление командой<span>30</span></a></li>
                <li><a href="">Менеджмент<span>44</span></a></li>
                <li><a href="">Видео-материалы<span>17</span></a></li>
                <li><a href="">Финансовые вопросы<span>48</span></a></li>
                <li><a href="">Маркетинг и реклама<span>51</span></a></li>
                <li><a href="">Управление командой<span>30</span></a></li>
                <li><a href="">Менеджмент<span>44</span></a></li>
                <li><a href="">Видео-материалы<span>17</span></a></li>
              </ul>
            </div>
          </div>
         
        </aside>
        <div class="content">
          <div class="content-block">

            <div class="materials-block">
              <div class="materials-block__head">
                <div class="materials-block__col">
                  <div class="select-block inline">
                    <label for="">Тема:</label>
                    <div class="select">
                      <select class="select2">
                        <option>Финансы компании</option>
                        <option>очень длинный длинный текст</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="materials-block__col">
                  <div class="select-block inline">
                    <label for="">Формат:</label>
                    <div class="select">
                      <select class="select2">
                        <option>видео-ролики</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="materials-block__content">
                <div class="item">
                  <a href="#" class="post-item post-item--video">
                    <span class="post-item__image ">
                      <img src="images/img-3.jpg" alt="">
                      <span class="post-item__material">
                        <span class="icon"><img src="images/video-icon.svg" alt=""></span>
                      </span>
                    </span>
                    <span class="post-item__content">
                      <span class="post-item__top">
                        <span class="post-item__date">
                          <span class="icon"><span class="icon-calendar"></span> </span>
                          23 мая 2022
                        </span>
                      </span>
                      <span class="post-item__title">Дополнительное обучающее видео для курса Екатерины Антоновой «Секреты быстрых продаж» 
                        
                      </span>
          
                    </span>
                  </a>
                </div>
                <div class="item">
                  <a href="#" class="post-item">
                    <span class="post-item__image">
                      <img src="images/img-1.jpg" alt="">
                      <span class="post-item__material">
                        <span class="icon"><img src="images/video-icon.svg" alt=""></span>
                      </span>
                    </span>
                    <span class="post-item__content">
                      <span class="post-item__top">
                        <span class="post-item__date">
                          <span class="icon"><span class="icon-calendar"></span> </span>
                          19 июня 2022
                        </span>
                      </span>
                      <span class="post-item__title">Опрос для проверки результата обучения на семинаре Олега
                        Смирновского «Быстрый рост прибыли компании в сжатые сроки»
                      </span>
                    </span>
                  </a>
                </div>
                <div class="item">
                  <a href="#" class="post-item post-item--video">
                    <span class="post-item__image ">
                      <img src="images/img-3.jpg" alt="">
                      <span class="post-item__material">
                        <span class="icon"><img src="images/video-icon.svg" alt=""></span>
                      </span>
                    </span>
                    <span class="post-item__content">
                      <span class="post-item__top">
                        <span class="post-item__date">
                          <span class="icon"><span class="icon-calendar"></span> </span>
                          23 мая 2022
                        </span>
                      </span>
                      <span class="post-item__title">Дополнительное обучающее видео для курса Екатерины Антоновой «Секреты быстрых продаж» 
                        
                      </span>
          
                    </span>
                  </a>
                </div>
                <div class="item">
                  <a href="#" class="post-item">
                    <span class="post-item__image">
                      <img src="images/img-1.jpg" alt="">
                      <span class="post-item__material">
                        <span class="icon icon-pdf"></span>
                      </span>
                    </span>
                    <span class="post-item__content">
                      <span class="post-item__top">
                        <span class="post-item__date">
                          <span class="icon"><span class="icon-calendar"></span> </span>
                          19 июня 2022
                        </span>
                      </span>
                      <span class="post-item__title">Опрос для проверки результата обучения на семинаре Олега Смирновского «Быстрый рост прибыли компании в сжатые сроки» 
                      </span>
                    </span>
                  </a>
                </div>
                <div class="item">
                  <a href="#" class="post-item">
                    <span class="post-item__image">
                      <img src="images/img-2.jpg" alt="">
                      <span class="post-item__material">
                        <span class="icon icon-pdf"></span>
                      </span>
                    </span>
                    <span class="post-item__content">
                      <span class="post-item__top">
                        <span class="post-item__date">
                          <span class="icon"><span class="icon-calendar"></span> </span>
                          7 июня 2022
                        </span>
                      </span>
                      <span class="post-item__title">Статья для семинара Антона Петренкова «Эффективная работа команды» 
                      </span>
        
                    </span>
                  </a>
                </div>

                <div class="item">
                  <a href="#" class="post-item">
                    <span class="post-item__image">
                      <img src="images/img-1.jpg" alt="">
                      <span class="post-item__material">
                        <span class="icon icon-pdf"></span>
                      </span>
                    </span>
                    <span class="post-item__content">
                      <span class="post-item__top">
                        <span class="post-item__date">
                          <span class="icon"><span class="icon-calendar"></span> </span>
                          19 июня 2022
                        </span>
                      </span>
                      <span class="post-item__title">Опрос для проверки результата обучения на семинаре Олега Смирновского «Быстрый рост прибыли компании в сжатые сроки» 
                      </span>
                    </span>
                  </a>
                </div>
      
              </div>
              
            <div class="btn-center">
              <a href="#" class="btn ">Смотреть еще</a>
            </div>
            </div>

          </div>
        </div>
      </div>



    </div>
  </main>


  <footer>
    <div class="container">
      <div class="footer-content">
        <span class="footer-logo">
          <a href="#" class="logo"><img src="images/logo.svg" alt=""></a>
        </span>

        <ul class="footer-menu">
          <li><a href="">Правовая информация</a></li>
          <li><a href="">Политика персональных данных</a></li>
        </ul>
        <div class="footer-contacts">
          <span class="footer-phone"><a href="tel:">+7 (495) 290-77-75</a></span>
          <span class="footer-mail"><a href="mailto:">info@geely.com</a></span>
        </div>
      </div>
    </div>
    <div class="copy">Geely © 2022 Все права защищены. Полное или частичное копирование запрещено.</div>
  </footer>




  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="js/owl.carousel.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js'></script>
  <script src="js/scripts.js"></script>





</body>

</html>